In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("/Users/ra-mit/development/civilizer_demo/storage/data_sets/MIT_demo/DMV_Warehouse_users.csv", encoding='latin1')

In [9]:
df[1:10]

  table reference  attribute name                     DMV   frequency
1             NaN     Middle Name                       M         728
2             NaN         Unit Id                  310000        3590
3             NaN       Unit Name      Lincoln Laboratory        3590
4             NaN           Title  Postdoctoral Associate        1052
5             NaN            Year                       G         887
6             NaN          Mit Id               999999999          31
7             NaN    Office Phone              1111111111           4
8             NaN    Office Phone              9999999999          63